Assinement on list

In [1]:
list1=[]
print(list1)

[]

In [2]:
list=[1,2,3,4,5,6,7,8,9,10]
print(list)
list.append([11,12])
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12]]

In [3]:
list=[1,2,3,4,5,6,7,8,9,10]
print(list[7])

list=["hello python","world",[1,2,25.3,"keionics"]]
print(list[-1][-2])

8
25.3

In [4]:
list=[1,2,3,4,5]
print(list)
list.pop()
print(list)

list=[1,2,3,4,5]
print(list)
list.pop(-4)
print(list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [5]:
list=["hello","to","world"]
print(list[1:2])

['to']

 Assinment on Tuple

In [6]:
tuple=()
print(tuple)

()

In [7]:
tuple1=(0,1,2,3)
tuple2=("keionic","hubli")
tuple3=tuple1+tuple2
print(tuple1)
print(tuple2)
print(tuple3)

(0, 1, 2, 3)
('keionic', 'hubli')
(0, 1, 2, 3, 'keionic', 'hubli')

In [3]:
str1=("hello world")
print(str1)
t1=tuple(str1)
print("str to tuple",t1)

hello world
str to tuple ('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [4]:
t1=(1,2,3,4,5,6,7,8,9,10)
print(t1[10:2:-2])

print(t1[3:5])

(10, 8, 6, 4)
(4, 5)

In [5]:
t1=("\twelcome")
t2=("\tto")
t3=("\tpython")
t4=t1+t2
t5=t4+t3
print(t5)

	welcome	to	python

In [6]:
t1=("hello world")
len(t1)

11

In [7]:
numbers=(1,2,3,4,5,6,7,8,9,10)
sum=sum(numbers)
print(sum)

55

In [8]:
val1=12
val2=55
val3=86
max_val=max(val1,val2,val3)
print(max_val)

86

In [9]:
t1=(1,2,3,4,5,6,7,8,9,10)
print(t1[10:2:-1])

(10, 9, 8, 7, 6, 5, 4)